


# Python
__pycache__/
/__pycache__
./__pycache__

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/


# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/

# Large media files
*.mp4
*.avi
*.mov
*.wmv
*.png
*.jpeg
*.jpg
